/* /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 */
.notfoud{
    position: fixed;
    top: 0;
    width: 100vh;
    height: 100vh;
    color: red;
    /* background-color: #fff;  */

    display: flex;
    align-items: center;
    justify-content: center;

}
.image{
    left: 30%;
    position: relative;
    width: 400px;
}
